<!-- <span *ngIf="totalUserInputs.length"><p>
    , “One Last thing “{{ name }} “,please confirm your order: “<br />
    “Your order is: “ {{ quantity }}" " {{size}}" bag(s) of " {{ brand }} “washing powder “<br />
    “We will contact you on " {{phoneNumber}} "and will deliver as soon as possible to No.“ {{ houseNumber }} “ “{{ street }}” street, ” {{ town }} ”.
    ” {areaCode}}"." <br />
    “If this is correct, you can go ahead and click order. If not, feel free to go back”
  </p></span> -->
